name: Optimize Images

on:
  push:
    paths:
      - 'images/**'

jobs:
  compress:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install ImageMagick
        run: sudo apt-get install imagemagick -y

      - name: Create optimized folder
        run: mkdir -p images-optimized

      - name: Compress images
        run: |
          for file in images/*; do
            filename=$(basename "$file")
            convert "$file" \
              -resize 2000x2000\> \
              -quality 75 \
              "images-optimized/${filename%.*}.webp"
          done

      - name: Commit optimized images
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add images-optimized
          git diff --quiet && git diff --staged --quiet || git commit -m "Auto optimize images"
          git push
